.appsDiv {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.searchForm{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.searchBar{
  padding: 10px;
  border: none;
  width: 50%;
}

.searchButton{
  background: lightcoral;
  border: none;
  padding:10px 20px;
  color: white;
}

.recipe{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}